# Copia como .env y ajusta los valores
# cp .env.example .env

# Contraseña del OpenSearch (Wazuh Indexer)
INDEXER_PASSWORD=SecretPassword

# Contraseña de la API REST de Wazuh (usuario wazuh-wui)
API_PASSWORD=MyS3cr3tP4ssw0rd

# Contraseña del dashboard (usuario kibanaserver)
DASHBOARD_PASSWORD=kibanaserver
